@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap");
body {
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.main {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

img {
  opacity: 0.8;
}

#PokeLogo {
  -webkit-filter: drop-shadow(0 0 0.75rem #ba87ff);
          filter: drop-shadow(0 0 0.75rem #ba87ff);
  z-index: 1;
  opacity: 1;
  margin: 0 auto;
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

#PokeLogo:hover {
  -webkit-filter: drop-shadow(0 0 1rem #ba87ff);
          filter: drop-shadow(0 0 1rem #ba87ff);
}

.trayBox {
  margin: 0 0 10px;
  border: 2px solid #ba87ff;
  padding: 10px 12px;
  font-family: "Orbitron", sans-serif;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 0 0.75rem #ba87ff);
          filter: drop-shadow(0 0 0.75rem #ba87ff);
  font-size: 10px;
  font-weight: 800;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.trayBox:hover {
  -webkit-filter: drop-shadow(0 0 1.75rem #ba87ff);
          filter: drop-shadow(0 0 1.75rem #ba87ff);
}

.trayBox .text-green {
  color: #abf0f9;
  margin-right: 20px;
}

.trayBox .text-purple {
  color: #a947dd;
  margin-right: 20px;
}

.trayBox .pink-line {
  display: inline-block;
  width: 110px;
  height: 7px;
  background: #d249eb;
  min-height: 100%;
}

.trayBox p {
  margin: 0 0 10px;
  color: #9f35cb;
  width: 200px;
  font-size: 9px;
  line-height: 11px;
}

.trayBox label {
  margin: 0 0 10px;
  color: #9f35cb;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.pokemon-form {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border-radius: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 170px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkboxes {
  display: block;
  margin: 5px auto;
}

checkbox {
  position: relative;
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.pokemon-input {
  display: block;
  margin: 20px auto 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ffcece00;
  -webkit-box-shadow: 0 0 0.75rem #ba87ff;
          box-shadow: 0 0 0.75rem #ba87ff;
  color: #abf0f9;
  font-weight: 700;
  width: 300px;
  height: 30px;
  color: #abf0f9;
}

.pokemon-button {
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ffcece00;
  -webkit-box-shadow: 0 0 0.75rem #ba87ff;
          box-shadow: 0 0 0.75rem #ba87ff;
  color: #abf0f9;
  font-weight: 700;
  width: 250px;
  height: 30px;
  color: #abf0f9;
}

.pokemon-button:hover {
  -webkit-filter: drop-shadow(0 0 1.75rem #ba87ff);
          filter: drop-shadow(0 0 1.75rem #ba87ff);
}

.pokemon-button:active {
  -webkit-filter: drop-shadow(0 0 1.75rem #6f00ff);
          filter: drop-shadow(0 0 1.75rem #6f00ff);
}

.pokemon-response {
  display: block;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 650px;
}

.pokemon-response .general-info {
  display: block;
  color: #abf0f9;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.img-pokeball {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  z-index: 2;
}

.error {
  color: #abf0f9;
  font-weight: 700;
  color: #abf0f9;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
}

.noexiste {
  display: none;
}

input[type="checkbox"]:checked + label {
  color: #ba87ff;
}
/*# sourceMappingURL=style.css.map */