body{
    display: inline-block;
    align-content: center;
    width: 100%;
    background-color: beige;
}

h1{
    margin: auto;
}

.sudokuTabla{
    width: auto;
    background-color: black;

    

    input{
        width: 50px;
        height: 50px;
        -moz-appearance: none;
        font-size: 24px;
        text-align: center;
        // pointer-events: none;
    }

    .inputDef{ 
        // user-select: none;
        pointer-events: none;
    }

    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
