body{
    display: inline-block;
    align-content: center;
    width: 100%;
    background-color: beige;
}

h1{
    margin: auto;
}

.sudokuTabla{
    width: auto;
    background-color: black;

    

    input{
        width: 50px;
        height: 50px;
        -moz-appearance: none;
        font-size: 24px;
        text-align: center;
        color: black;
        // pointer-events: none;
    }

    .inputDef{ 
        // user-select: none;
        color: rgb(91, 91, 94);
        pointer-events: none;
    }

    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"]{
        -moz-appearance: textfield;
    }


}
